<!--<div class="nested-form-wrapper" data-new-record="<%#= f.object.new_record? %>">-->
  <%#= f.label :description %>
  <%#= f.text_field :description %>
  <%#= f.label :completed %>
  <%#= f.check_box :completed %>
<!--  <button type="button" data-action="nested-form#remove">Remove task</button>-->
  <%#= f.hidden_field :_destroy %>
<!--</div>-->

<!--<div class="nested-form-wrapper" data-new-record="<%#= ingredient_fields.object.new_record? %>">-->
<!--  <div class="my-5 ml-10">-->
    <%#= ingredient_fields.label :ingredient_name, class: "text-teal-800 font-bold" %>
    <%#= ingredient_fields.text_field :ingredient_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
<!--  </div>-->

<!--  <div class="my-5 ml-10">-->
    <%#= ingredient_fields.label :ingredient_weight, class: "text-teal-800 font-bold" %>
    <%#= ingredient_fields.number_field :ingredient_weight, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
<!--  </div>-->

<!--  <div class="my-5 ml-10">-->
    <%#= ingredient_fields.label :ingredient_calorie_per_100g, class: "text-teal-800 font-bold" %>
    <%#= ingredient_fields.number_field :ingredient_calorie_per_100g, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
<!--  </div>-->

<!--  <div class="my-5 rounded-lg py-3 px-5 bg-teal-800 text-amber-400 inline-block font-medium cursor-pointer hover:bg-teal-600">-->
    <%#= ingredient_fields.check_box :_destroy %>
    <%#= ingredient_fields.label :_destroy, "Remove Ingredient_rails" %>
<!--  </div>-->
<!--  <div class="my-5 rounded-lg py-3 px-5 bg-teal-800 text-amber-400 inline-block font-medium cursor-pointer hover:bg-teal-600">-->
    <%#= link_to_remove_fields 'Remove Ingredient', ingredient_fields %>
<!--  </div>-->
<!--</div>-->