<!--<div class="nested-fields">-->
  <%#= f.label :ingredient_name %>
  <%#= f.text_field :ingredient_name %>

  <%#= f.label :ingredient_weight %>
  <%#= f.number_field :ingredient_weight %>

  <%#= f.label :ingredient_calorie_per_100g %>
  <%#= f.number_field :ingredient_calorie_per_100g %>

  <%#= link_to_remove_fields 'Remove Ingredient', f %>
<!--</div>-->

<!--<div class="nested-fields">-->
  <%#= f.label :ingredient_name %>
  <%#= f.text_field :ingredient_name %>

  <%#= f.label :ingredient_weight %>
  <%#= f.number_field :ingredient_weight %>

  <%#= f.label :ingredient_calorie_per_100g %>
  <%#= f.number_field :ingredient_calorie_per_100g %>

  <%#= link_to_remove_fields 'Remove Ingredient', f %>
</div>