<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-teal-800">Editing complex dish kitchen</h1>

  <%= render "form", complex_dish_kitchen: @complex_dish_kitchen %>

  <%= link_to "Show this complex dish kitchen", @complex_dish_kitchen, class: "ml-2 rounded-lg py-3 px-5 bg-teal-800 text-amber-400 inline-block font-medium hover:bg-teal-600" %>
  <%= link_to "Back to complex dish kitchens", complex_dish_kitchens_path, class: "ml-2 rounded-lg py-3 px-5 bg-teal-800 text-amber-400 inline-block font-medium hover:bg-teal-600" %>
</div>
