<h1>Editing jornalentry</h1>

<%= render "form", jornalentry: @jornalentry %>

<br>

<div>
  <%= link_to "Show this jornalentry", @jornalentry %> |
  <%= link_to "Back to jornalentries", jornalentries_path %>
</div>
