<p style="color: green"><%= notice %></p>

<h1>Food and Blood Glucose Diary</h1>

<div id="jornalentries">
  <% @jornalentries.each do |jornalentry| %>
    <%= render jornalentry %>
    <p>
      <%= link_to "Show this jornalentry", jornalentry %>
    </p>
  <% end %>
</div>

<%= link_to "New jornalentry", new_jornalentry_path %>
