<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-teal-800">Food and Blood Glucose Diary</h1>
    <%= link_to "New entry", new_jornalentry_path, class: "rounded-lg py-3 px-5 bg-teal-800 text-amber-400 block text-sm font-medium hover:bg-teal-600" %>
  </div>

  <div id="expenses" class="table w-full p-2 mt-2">
    <% @jornalentries.each do |jornalentry| %>
      <table class="w-full border-b bg-gray-100">
        <thead class="bg-teal-800 text-amber-400">
        <tr>
          <th class="min-w-40 text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Date</th>
          <th class="min-w-40 text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Time</th>
          <th class="min-w-40 max-w-40 text-middle border-r py-3 px-4 uppercase font-semibold text-sm">List of Food</th>
          <th class="min-w-40 text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Glucose, mg/dL</th>
          <th class="text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Glucose, mmol/L</th>
          <th class="text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Notes</th>
          <th class="text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Action</th>
        </tr>
        </thead>
        <tbody class="text-gray-700">
        <%= render jornalentry %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
